<nav class="navbar navbar-expand-md navbar-light bg-light " style="
			    height: 82px;">
	<div class="container">
		<a class="navbar-brand" href="{{path('app_home_candidat')}}" style="font-size: 3rem;color: #DB7300;">Job-Ads</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link text-dark h6 mr-2" aria-current="page" href="#">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark h6" href="#">Contact</a>
				</li>
				<li class="nav-item">
					<a class="ml-5 btn text-dark h6" href="#" style="background-color: #69ADEE">Se connecter</a>
				</li>
			</ul>
		</div>
	</div>
</nav>